* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #494545, #1c1d1e);
  }
  
  .container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 24px;
  }
  
  form input {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  form button {
    width: 100%;
    padding: 12px 16px;
    background-color: #0c0c0c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  form button:hover {
    background-color: #2b2d30;
  }
  
  .signup-link {
    margin-top: 16px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #66a6ff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }

  .avatar {
    position: fixed;
    top: 20px;       
    left: 20px;      
    width: 150px;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;   
  }
  
  .avatar:hover {
    transform: scale(1.05);
  }

  #backBtn, #homeBtn {

    font-size: 25px;
    color: #444;
    text-decoration: none;
    display: inline-block;
   
  }
  .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
 
  
}
#backBtn:hover {
  color: black;
 
}
.top-bar img{
  
  
    width: 30px;     
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    
  
}

a{
  text-decoration: none;
  color: white;
}
